<br>
  <div class="container text-white">
    <h1 class="text-center" style="font-size: 60px">Login</h1>
    <br>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary btn-block border-0", style: "background-color: #175598;"%>
    <% end %>
  </div>